/* Estilos para el nuevo formulario */
.formPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
    height: 100vh;
    width: 100%;
    background-image: url('../../assets/fondo2.jpg');
    background-size: cover; /* Ajusta el tamaño de la imagen de fondo para cubrir todo el elemento */
    padding: 20px;
  }
  
  .creativityGif {
    position: absolute;
    right: 3%;
    top: 10%;
  }
  
  .formPage h1 {
    font-size: 24px; /* Aumenta el tamaño del encabezado */
    margin-bottom: 20px;
  }
  
  .nav {
    position: absolute;
    width: 100%; /* Ajusta el ancho del menú de navegación */
    left: 10px; /* Ajusta la posición del menú de navegación */
    top: 10px;
  }
  
  .formPage form {
    display: flex;
    align-items: center; /* Alinea los elementos en el centro */
    flex-direction: column;
    gap: 20px; /* Espacio entre los elementos */
    width: 60%; /* Ajusta el ancho del formulario */
    padding: 20px;
    background-color: #fff; /* Cambia el color de fondo del formulario */
    border-radius: 10px; /* Agrega bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Agrega una sombra */
  }
  
  .label {
    font-size: 18px; /* Tamaño de fuente para las etiquetas */
  }
  
  .error {
    color: red;
    font-size: 14px; /* Tamaño de fuente para los mensajes de error */
  }
  
  .formPage span {
    color: red;
    font-size: 14px; /* Tamaño de fuente para los mensajes de error */
  }
  
  .formPage input {
    border: 1px solid #ddd; /* Añade un borde alrededor de los campos de entrada */
    border-radius: 5px; /* Agrega bordes redondeados a los campos de entrada */
    padding: 10px;
    width: 100%;
    font-size: 16px; /* Tamaño de fuente para los campos de entrada */
    background-color: #f9f9f9; /* Cambia el color de fondo de los campos de entrada */
  }
  
  .formPage input:focus {
    outline: none;
    border-color: #007bff; /* Cambia el color del borde al enfocar */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Agrega una sombra al enfocar */
  }
  
  .options {
    font-size: 16px; /* Tamaño de fuente para las opciones */
    background-color: #fff; /* Cambia el color de fondo de las opciones */
    border: 1px solid #ddd; /* Agrega un borde alrededor de las opciones */
    border-radius: 5px; /* Agrega bordes redondeados a las opciones */
    padding: 10px;
  }
  
  .countries {
    font-size: 16px; /* Tamaño de fuente para los países */
    background-color: #fff; /* Cambia el color de fondo de los países */
    border: 1px solid #ddd; /* Agrega un borde alrededor de los países */
    border-radius: 5px; /* Agrega bordes redondeados a los países */
    padding: 10px;
  }
  
  .selectedCountries {
    display: flex;
    align-items: center;
  }
  
  .selectedCountries p {
    margin: 0;
  }
  
  .selectedCountries p:hover {
    cursor: pointer;
  }
  
  .selectedCountries h5 {
    font-size: 16px; /* Tamaño de fuente para los países seleccionados */
  }
  
  .button {
    width: 100%;
    height: 40px; /* Ajusta la altura del botón */
    border: none;
    border-radius: 5px; /* Agrega bordes redondeados al botón */
    padding: 10px 20px; /* Ajusta el relleno del botón */
    font-size: 18px; /* Tamaño de fuente para el botón */
    background-color: #007bff; /* Cambia el color de fondo del botón */
    color: #fff; /* Cambia el color del texto del botón a blanco */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Agrega una sombra al botón */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
    transition: background-color 0.3s ease; /* Agrega una transición al color de fondo */
  }
  
  .button:hover {
    background-color: #0056b3; /* Cambia el color al pasar el mouse */
  }